@use "../util" as u;
.section {
  &__container {
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    h2 {
      font-weight: bold;
      margin: 0;
    }

    &--par1 {
      font-weight: bold;
      background-color: var(--paleOrange);
      color: var(--orange);
      padding: 0.125rem 0.5rem;
      border-radius: 0.3125rem;
      margin: 0;
    }
    &--par2 {
      font-weight: bold;
      text-decoration: line-through;
      color: var(--grayishBlue);
      margin: 0;
      margin-left: auto;
    }
  }

  &__cart {
    padding: 20px 0;

    @include u.breakpoint-up(large) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      gap: 1.25rem;
    }

    &--counter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--lightGrayishBlue);
      border-radius: 10px;
      box-shadow: 0rem 0.1875rem 0.75rem rgba(0, 0, 0, 0.2);

      a {
        padding: 16px 20px;
      }
    }

    &--button {
      margin: 20px auto;

      @include u.breakpoint-up(large){
        width: 100%;
      }
    }

    button {
      display: flex;
      justify-content: center;
      gap: 15px;
      align-items: center;
      width: 100%;
      border: none;
      border-radius: 10px;
      padding: 16px;
      background-color: var(--orange);
      color: white;
      font-weight: bold;
      box-shadow: 0rem 0.1875rem 0.75rem rgba(0, 0, 0, 0.2);
    }

    button:hover {
      cursor: pointer;
      background-color: hsl(26, 100%, 60%);
      box-shadow: 0 3px 24px var(--orange);
      transform: scale(1.05);
      transition: all 400ms ease-in-out;
    }
  }
}
