@use "../util" as u;

.slider {
  &__container {
    max-width: 62.5rem;
    position: relative;
    margin: auto;
  }

  &__images {
    &--image {
      display: none;

      img {
        width: 100%;
      }
    }

    &--number {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      font-weight: bold;
      padding: 14px;
      color: white;
    }
  }

  &__prevBtn,
  &__nextBtn {
    position: absolute;
    cursor: pointer;
    margin-top: -22px;
    top: 50%;
    width: auto;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    user-select: none;
  }

  &__prevBtn {
    margin-left: 10px;
    border-radius: 50%;
  }

  &__nextBtn {
    right: 0;
    margin-right: 10px;
    border-radius: 50%;
  }

  &__prevBtn:hover,
  &__nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.main {
  display: block;
}
